<div class="pew_subblock">
  <address>Zitat: Ernst Ferstl <a href="https://de.wikipedia.org/wiki/Ernst_Ferstl">Wikipedia</a></address>
</div>

<div class="pew_subblock">
  <address>
    Zeix AG
    <br/>
    Badenerstrasse 65
    <br/>
    Postfach 8022
    <br/>
    CH- 8036 Zürich
    <br/>
    <br/>
    <a href="mailto:info@zeix.com">info@zeix.com</a>
  </address>
</div>
