<div class="pew_subblock">
  <input type="button" value="Input type Button" />
  <input type="reset" value="Input type Reset" />
  <input type="submit" value="Input type Submit" />
  <input type="submit" value="Input type Submit" disabled />
</div>

<div class="pew_subblock">
  <button>Button</button>
  <button type="button">Button type Button</button>
  <button type="reset">Button type reset</button>
  <button type="submit">Button type Submit</button>
  <button type="button" disabled>Button disabled</button>
  <button type="button">Button</button>
</div>
