<div class="pew_subblock">
  <figure>
    <img src="http://placehold.it/150x150" alt="Placeholder">
    <figcaption>Figure Caption</figcaption>
  </figure>
</div>

<div class="pew_subblock">
  <figure>
    <img src="http://placehold.it/150x150" alt="Placeholder">
    <figcaption>
      <h4>Figcaption Title</h4>
      Figure Caption Content
    </figcaption>
  </figure>
</div>
