<div class="pew_subblock">
  <dl>
    <dt>Usability</dt>
    <dd>Gebrauchstauglichkeit</dd>

    <dt>User Centered Design</dt>
    <dd>Nutzerorientierte Gestaltung</dd>

    <dt>u. a.</dt>
    <dd>unter anderem, unter anderen</dd>
    <dd>und andere, und anderes</dd>

    <dt>zzgl.</dt>
    <dd>zuzüglich</dd>
  </dl>
</div>

<div class="pew_subblock">
  <ol>
    <li>list item</li>
    <li>list item</li>
    <li>
      list item
      <ol>
        <li>list item level 2</li>
        <li>
          list item level 2
          <ol>
            <li>list item level 3</li>
            <li>list item level 3</li>
            <li>list item level 3</li>
            <li>list item level 3</li>
          </ol>
        </li>
        <li>list item level 2</li>
        <li>list item level 2</li>
      </ol>
    </li>
    <li>list item</li>
  </ol>
</div>

<div class="pew_subblock">
  <ul>
      <li>list item</li>
      <li>list item</li>
      <li>
        list item
        <ul>
          <li>list item level 2</li>
          <li>
            list item level 2
            <ul>
              <li>list item level 3</li>
              <li>list item level 3</li>
              <li>list item level 3</li>
              <li>list item level 3</li>
            </ul>
          </li>
          <li>list item level 2</li>
          <li>list item level 2</li>
        </ul>
      </li>
      <li>list item</li>
    </ul>
</div>
