<div class="pew_subblock">
  <img src="../../assets/images/Pingu.svg" alt="Pingu Avatar">
</div>

<div class="pew_subblock">
  <a href="#">
    <img src="../../assets/images/Pingu.svg" alt="Pingu Avatar">
  </a>
</div>

<div class="pew_subblock">
  <img alt="Broken image.. image not found">
</div>

<div class="pew_subblock">
  <video src="https://www.youtube.com/watch?v=s6TY1SRABes" poster="" width="640" height="360" controls style="max-width: 100%;"></video>
</div>

<div class="pew_subblock">
  <video controls></video>
</div>

<div class="pew_subblock">
  <audio controls preload="metadata">
    <source src="http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.mp4" type="audio/mp4">
    <source src="http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.oga" type="audio/ogg; codecs=vorbis">
    <p>Your user agent does not support the HTML5 Audio element.</p>
  </audio>
</div>

<div class="pew_subblock">
  <audio controls></audio>
</div>
