<div class="pew_subblock">
  <pre>
    ROFL:ROFL:ROFL:ROFL
          _^___
  L    __/   [] \
  LOL===__        \
  L      \________]
          I   I
          --------/
  </pre>
</div>

<div class="pew_subblock">
  <code>
    const Pingu = new Pingu();
  </code>
</div>
