<table>
  <caption>caption</caption>
  <thead>
    <th>thead th</th>
    <th>thead th</th>
    <th>thead th</th>
    <th>thead th</th>
  </thead>
  <tbody>
    <th>thead th</th>
    <th>thead th</th>
    <th>thead th</th>
    <th>thead th</th>
  </tbody>
  <tfoot>
    <th>tfoot th</th>
    <th>tfoot th</th>
    <th>tfoot th</th>
    <th>tfoot th</th>
  </tfoot>
</table>
