<html class="{% if isDev %}dev{% endif %}">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/preview/assets/css/pew.css">
    <script src="/preview/assets/js/pew.bundle.js"></script>
    {% block component_scripts %}{% endblock %}
  </head>
  <body>
    <main class="pew_main">
      {% include 'sidebar.twig' %}
      <div class="pew_content">
        {% block content %}{% endblock %}
      </div>
    </main>
  </body>
</html>
