<!--
...............................*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@...............................
..............................@@@@#***/&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@.............................
............................@@@((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@/...........................
...........................@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@..........................
..........................@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,........................
.........................@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,,......................
........................@@@@@@@@@@@@@@@@@@@@@@@@@@@@%***/@@@@@@@@@@@@@@@@@@@,,.....................
.......................@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@/*@@@@@@@@@@@@@@@@@,,,...................
......................%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@/@@@@@@@@@@@@@@@(,,,,.................
......................@@@@@@@@@@@@%*(@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,,,,,,...............
.....................%@@@@@@@@@@@/****@@@@@@@@@@@@/****#@@@@@@@@@@@@@@@@@@@@@@*,,,,,,..............
.....................@@@@@@@@@@@@&***/@@@@@@@@@@@@@@@@@@&*@@@@@@@@@@@@@@@@@@@@&,,,,,,,,............
.....................@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,,,,,,,,,,..........
.....................@@@@@@@@@@@@@@@@@@@@****%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,,,,,,,,,,,.........
....................,@@@@@@@@@@@**///*************(%&&&&%(*/@@@@@@@@@@@@@@@@@@@,,,,,,,,,,,,,.......
....................,@@@@@@@@@@@@&**********************/@@@@@@@@@@@@@@@@@@@@@@,,,,,,,,,,,,,,,.....
....................,@@@@@@@@@@@@@@@****************/@@@@@@@@@@@@@@@@@@@@@@@@@@*,,,,,,,,,,,,,,,....
....................*@@@@@@@@@@@@@@@@@(,,,,,,,,,,/@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*,,,,,,,,,,,,,,,,,..
..................../@@@@@@@@@@@@@@@@@@,,,,,,,,,/@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@/,,,,,,,,,,,,,,,,,,,
....................(@@@@@@@@@@@@@@@@@@*,,,,,,,*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(,,,,,,,,,,,,,,,,,,,
....................%@@@@@@@@@@@@@@@@@@&,,,,,,,@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#,,,,,,,,,,,,,,,,,,,
....................&@@@@@@@@@@@@@@@@@@@,,,,,,@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&,,,,,,,,,,,,,,,,,,,
....................@@@@@@@@@@@@@@@@@@@@#,,,,@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,,,,,,,,,,,,,,,,,,,
....................@@@@@@@@@@@@@@@@@@@@@,,,@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,,,,,,,,,,,,,,,,,,,
....................@@@@@@@@@@@@@@@@@@@@@*,@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,,,,,,,,,,,,,,,,,,,
....................@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,,,,,,,,,,,,,,,,,,,

 -->

<html class="{% if isDev %}dev{% endif %}" lang="">
  <head>
    {% include '../layouts/_snippets/html-head.twig' %}

    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/preview/assets/css/pew.css">

    <title>Pingu preview</title>
    {% block component_scripts %}{% endblock %}
  </head>
  <body>
    <header class="pew_header">
      <div class="pew_header__logo">
        <img src="/preview/assets/img/logo.svg" class="pew_sidebar__image" alt="Pingu Logo">
      </div>
    </header>
    <main class="pew_main pew_main--layer">
      {% include 'sidebar.twig' %}
      <div class="pew_content">
        <!-- <div class="pew_container"> -->
          {% block content %}{% endblock %}
        <!-- </div> -->
      </div>
    </main>
    <script src="/assets/js/main.bundle.js"></script>
    <script src="/preview/assets/js/pew.bundle.js"></script>
  </body>
</html>
