<aside class="pew_sidebar pew_sidebar--no-transitions">
  <div class="pew_sidebar__logo">
    <img src="/preview/assets/img/logo.svg" class="pew_sidebar__image" alt="Pingu Logo">
  </div>
  <nav class="pew_sidebar__navigation">
    <ul class="pew_sidebar__list">
      <li class="pew_sidebar__item">
        <a href="/#pages" class="pew_sidebar__link">
          <span class="pew_sidebar__icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M15 2v5h5v15h-16v-20h11zm1-2h-14v24h20v-18l-6-6z"/>
            </svg>
          </span>
          <span class="pew_sidebar__text">Pages</span>
        </a>
      </li>
      <li class="pew_sidebar__item">
        <a href="/#components" class="pew_sidebar__link">
          <span class="pew_sidebar__icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M14.852 6h-.004c.485-.627 1.072-1.547 1.072-2.744 0-1.572-1.499-3.256-3.731-3.256-2.23 0-3.729 1.684-3.729 3.256 0 1.195.587 2.117 1.072 2.744h-6.531999999999999v6.528c0 .974.438 1.736 1.172 2.04.709.293 1.547.078 2.186-.562 1.246-1.298 2.642-.131 2.642 1.183 0 1.29-1.396 2.484-2.644 1.184-.638-.639-1.476-.854-2.185-.561-.733.303-1.171 1.066-1.171 2.04v6.148h18v-18h-6.148zm-9.852 16v-4.151999999999999c.627.485 1.547 1.072 2.744 1.072 1.572 0 3.256-1.499 3.256-3.73 0-2.23-1.684-3.729-3.256-3.729-1.195 0-2.117.587-2.744 1.072v-4.5329999999999995h4.528c.974 0 1.736-.438 2.04-1.171.293-.71.078-1.548-.562-2.187-1.298-1.245-.131-2.642 1.183-2.642 1.29 0 2.484 1.397 1.184 2.644-.639.638-.854 1.476-.561 2.185.303.733 1.066 1.171 2.04 1.171h4.148v14h-14z"/>
            </svg>
          </span>
          <span class="pew_sidebar__text">Components</span>
        </a>
      </li>
      <li class="pew_sidebar__item">
        <a href="/#styleguide" class="pew_sidebar__link">
          <span class="pew_sidebar__icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M18.58 0c-1.234 0-2.377.616-3.056 1.649-.897 1.37-.854 3.261-1.368 4.444-.741 1.708-3.873.343-5.532-.524-2.909 5.647-5.025 8.211-6.845 10.448 6.579 4.318 1.823 1.193 12.19 7.983 2.075-3.991 4.334-7.367 6.825-10.46-1.539-1.241-4.019-3.546-2.614-4.945 1-1 2.545-1.578 3.442-2.95 1.589-2.426-.174-5.645-3.042-5.645zm-5.348 21.138l-1.201-.763c0-.656.157-1.298.422-1.874-.609.202-1.074.482-1.618 1.043l-3.355-2.231c.531-.703.934-1.55.859-2.688-.482.824-1.521 1.621-2.331 1.745l-1.302-.815c1.136-1.467 2.241-3.086 3.257-4.728l8.299 5.462c-1.099 1.614-2.197 3.363-3.03 4.849zm6.724-16.584c-.457.7-2.445 1.894-3.184 2.632-.681.68-1.014 1.561-.961 2.548.071 1.354.852 2.781 2.218 4.085-.201.265-.408.543-.618.833l-8.428-5.548.504-.883c1.065.445 2.1.678 3.032.678 1.646 0 2.908-.733 3.464-2.012.459-1.058.751-3.448 1.206-4.145 1.206-1.833 3.964-.017 2.767 1.812zm-.644-.424c-.265.41-.813.523-1.22.257-.409-.267-.522-.814-.255-1.223.267-.409.813-.524 1.222-.257.408.266.521.817.253 1.223z"/>
            </svg>
          </span>
          <span class="pew_sidebar__text">Styleguide</span>
        </a>
      </li>
    </ul>
  </nav>
  <button class="pew_sidebar__collapse">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="pew_sidebar__collapse-icon"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>
  </button>
</aside>
