<h1 class="pew_title">Styleguide</h1>

<!-- colors -->
<div class="pew_block">
  <h2 class="pew_subtitle">Colors</h2>
  {% include 'styleguide/colors.twig' %}
</div>

<!-- fonts -->
<div class="pew_block">
  <h2 class="pew_subtitle">Fonts</h2>
  {% include 'styleguide/fonts.twig' %}
</div>

<!-- headings -->
<div class="pew_block">
  <h2 class="pew_subtitle">Headings</h2>
  {% include 'styleguide/headings.twig' %}
</div>

<!-- paragraph -->
<div class="pew_block">
  <h2 class="pew_subtitle">Text / Paragraph</h2>
  {% include 'styleguide/paragraph.twig' %}
</div>

<!-- blockquotes -->
<div class="pew_block">
  <h2 class="pew_subtitle">Blockquotes</h2>
  {% include 'styleguide/blockquotes.twig' %}
</div>

<!-- address -->
<div class="pew_block">
  <h2 class="pew_subtitle">Address</h2>
  {% include 'styleguide/address.twig' %}
</div>

<!-- lists -->
<div class="pew_block">
  <h2 class="pew_subtitle">Lists</h2>
  {% include 'styleguide/lists.twig' %}
</div>

<!-- buttons -->
<div class="pew_block">
  <h2 class="pew_subtitle">Buttons</h2>
  {% include 'styleguide/buttons.twig' %}
</div>

<!-- forms -->
<div class="pew_block">
  <h2 class="pew_subtitle">Forms</h2>
  {% include 'styleguide/forms.twig' %}
</div>

<!-- tables -->
<div class="pew_block">
  <h2 class="pew_subtitle">Tables</h2>
  {% include 'styleguide/tables.twig' %}
</div>

<div class="pew_block">
  <h2 class="pew_subtitle">Text</h2>
  {% include 'styleguide/text.twig' %}
</div>

<!-- preformatted text -->
<div class="pew_block">
  <h2 class="pew_subtitle">Preformatted Text</h2>
  {% include 'styleguide/preformatted.twig' %}
</div>

<!-- text -->
<div class="pew_block">
  <h2 class="pew_subtitle">Text Elements</h2>
  {% include 'styleguide/text.twig' %}
</div>

<!-- media -->
<div class="pew_block">
  <h2 class="pew_subtitle">Media</h2>
  {% include 'styleguide/media.twig' %}
</div>

