<html>
  <head>
    <title>Pingu</title>
  </head>
  <body>
    <table>
      {% for page in pages %}
        <tr>
          <td>{{ page.title }}</td>
          <td>{{ page.fileName }}</td>
          <td>{{ page.description }}</td>
          <td>{{ page.status }}</td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
